body {
    font-family: Arial, sans-serif;
    background: #444444;
    color:white;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.card {
    background: #fff;
    background: #444444;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
}

.card h3 {
    margin-top: 0;
}

.card ul {
    padding-left: 20px;
}

.card li {
    margin: 5px 0;
}

.correct {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
